<nav class="navbar navbar-expand-lg navbar-light bg-light"
  *ngIf="(authenticationService.authenticated | async) === true">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/teams" class="navbar-brand">Internship Management</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/teams">Teams</a></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/projects">Projects</a></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/schedule">Schedule</a></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/events">Events</a></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/feedback">Feedback</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" (click)="openAddSdmDialog()">Add SDM</a></li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" (click)="clearUsername()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>