<nav class="navbar navbar-expand-lg navbar-light bg-light"
  *ngIf="(authenticationService.authenticated | async) === true">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/teams" class="navbar-brand">Internship Management</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <div routerLink="/teams" routerLinkActive="active" class="nav-link menu-container">
          <mat-icon>people</mat-icon>
          <span>Teams</span>
        </div>
        <div routerLink="/projects" routerLinkActive="active" class="nav-link menu-container">
          <mat-icon>assignment</mat-icon>
          <span>Projects</span>
        </div>
        <div routerLink="/schedule" routerLinkActive="active" class="nav-link menu-container">
          <mat-icon>schedule</mat-icon>
          <span>Schedule</span>
        </div>
        <div routerLink="/feedback" routerLinkActive="active" class="nav-link menu-container">
          <mat-icon>feedback</mat-icon>
          <span>Feedback</span>
        </div>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <div class="nav-link menu-container" [matMenuTriggerFor]="menu">
          <mat-icon >person_add</mat-icon>
          <span>Manage Users</span>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="nav-link" (click)="openAddSdmDialog() " style="outline: none;">
              <span>Add Manager</span>
            </button>
            <button mat-menu-item class="nav-link" (click)="openAddTrainerDialog()" style="outline: none;">
              <span>Add Trainer</span>
            </button>
            <button mat-menu-item class="nav-link" (click)="openAddInternDialog()" style="outline: none;">
              <span>Add Intern</span>
            </button>
          </mat-menu>
        </div>
        <div (click)="clearUsername()" class="nav-link menu-container">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </div>
      </ul>
    </div>
  </div>
</nav>
