<nav class="navbar navbar-default" *ngIf="(authenticationService.authenticated | async) === true">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/teams" class="navbar-brand">Internship Management</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/teams">Teams</a></li>
        <li routerLinkActive="active"><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/schedule">Schedule</a></li>
        <li><a routerLink="/events">Events</a></li>
        <li><a routerLink="/feedback">Feedback</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login" (click)="clearUsername()">Logout</a></li>

        <!-- <li class="dropdown">
          <a href="/login" class="dropdown-toggle" role="button">Authenticate <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign up</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
