<app-loader></app-loader>

<div class="table-container">
  <button mat-raised-button color="accent" class="add-project-button" (click)="openProjectDialog()">
    <mat-icon> add </mat-icon>
    Add Project
  </button>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
      <td mat-cell *matCellDef="let row"> {{row.startDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
      <td mat-cell *matCellDef="let row"> {{row.endDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="technologyStack">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Technology Stack</th>
      <td mat-cell *matCellDef="let row"> {{row.technologyStack}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <div class="icons-container">
          <mat-icon [matMenuTriggerFor]="menu">settings</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openProjectDialog(element)" style="outline: none;">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteProject(element)" style="outline: none;">
              <mat-icon>restore_from_trash</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="openMembersDialog(element)" style="outline: none;">
              <mat-icon>people</mat-icon>
              <span>Members</span>
            </button>
          </mat-menu>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
