<div class="add-intern-form">
    <div class="form-container col-sm-12">

      <h1 mat-dialog-title>Add Intern</h1>

      <mat-dialog-content [formGroup]="form">

        <mat-form-field>
          <input matInput type="text" formControlName="name" id="name" name="name" placeholder="Name"
            [(ngModel)]="newIntern.name">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" formControlName="cnp" id="cnp" name="cnp" placeholder="CNP"
            [(ngModel)]="newIntern.cnp">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" formControlName="age" id="age" name="age" placeholder="Age"
            [(ngModel)]="newIntern.age">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" formControlName="department" id="department" name="department" placeholder="Department"
            [(ngModel)]="newIntern.department">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" formControlName="username" id="username" name="username" placeholder="Username"
            [(ngModel)]="newIntern.username">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" formControlName="password" id="password" name="password" placeholder="Password"
            [(ngModel)]="newIntern.password">
        </mat-form-field>

      </mat-dialog-content>

      <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="save()">Add Manager</button>
        <button mat-raised-button (click)="close()">Cancel</button>
      </mat-dialog-actions>
    </div>
  </div>
